 @import url(../css/plugins/bootstrap-rtl.min.css);

.nav-header,.nav-menu>li,
.blog-page .blog-details .comment-area .all-comments article .comment-author ,
.single-widgets.widget_thumb_post ul li .left {
    float: right;
}
.nav-menu{
    float: left;
}
.select2-container--default .select2-selection--single .select2-selection__rendered,
.page-title,
.icon-mi-left h4{
    text-align: right;
}
.italian-search.hero-search-radius .input-with-icon .form-control,
 .italian-search.hero-search-radius .input-with-shadow .form-control, 
 .italian-search.hero-search-radius .input-with-shadow .select2-container,
 .italian-search.hero-search-radius .input-with-icon .select2-container{
    padding-right: 45px;
    padding-left: 0;
 }
 .italian-search.hero-search-radius .input-with-icon .select2-container {
    padding-right: 8px;
    padding-left: 0;
}
 .select2-container--default .select2-selection--single .select2-selection__arrow{
    left: 10px;
    right: 0;
 }
 html body .b-r {
    border-left: 1px solid #e0ecf5 !important;
    border-right: none !important;
}
html body .b-l {
    border-right: 1px solid #e0ecf5 !important;
    border-left: none !important;
    padding-right: 15px;
}
.about-img-left{
    margin-left: 30px;
    margin-right: 0;
}
.about-us-img-info-3 img{
    position: absolute;
    left: auto;
    right: -30px;
}
.section-title-area p{
    margin-right: 10px;
    margin-left: 0;
}
.about-us-list{
    padding-right: 0;
}
.about-us-list li{
    padding-left:0px;
    padding-right: 20px;
}
.about-us-list li i{
    margin-left: 15px;
    margin-right: 0;
}
.about-callout{
    border-right: 4px solid #a16905;
    border-left: 0;
}
.lp-content-right .lp-property-view i,
.bl-continue i,
.footer-widget ul li i {
    transform: rotate(180deg);
}
.icon-features-wrap:before{
    position: absolute;
    right: 100%;
    transform: rotate(180deg);
}
.blog-info i{
    margin-left: 7px;
    margin-right: 0;
}
footer .footer-add i {
    padding-left: 10px;
    padding-right: 0px;
}
.footer-widget ul li i {
    padding-left: 0px;
    padding-right: 10px;
}
ul.footer-bottom-social{
    float: left;
}
.icon-mi-left .icon-mi-left-content{
    margin-right: 15px;
    margin-left: 0;
}
.bl-continue i{
    vertical-align: middle;
    margin-right: 12px;
}
.single-post-item .post-details .meta-comment-tag li{
    margin-right: 0;
    margin-left: 19px;
}
.single-post-item .post-details .meta-comment-tag li a .icons {
    margin-left: 10px;
    margin-right: 0;
}
.blog-page .blog-details blockquote{
    padding: 28px 100px 28px 28px;
}
.blog-page .blog-details blockquote .icon {
    right: 35px;
    top: 42%;
    left: 0;
}
.blog-page .blog-details .post-bottom-meta .post-share,
.blog-page .blog-details .comment-area .all-comments article .comment-details .comment-meta .comment-reply{
    text-align: left;
}
.blog-page .blog-details .post-bottom-meta .post-share .pbm-title {
    margin-right: 22px;
    margin-left: 0px;
    margin-bottom: 25px;
}
.blog-page .blog-details .comment-area .all-comments article .comment-author img {
    border-radius: 50%;
    border: 1px solid #a16905;
}
.blog-page .blog-details .comment-area .all-comments article .comment-details{
    padding-right: 10px;
    padding-left: 0;
}
.single-widgets.widget_thumb_post ul li .right .feed-title,
.single-widgets.widget_thumb_post ul li .right .post-date{
    padding-left: 0;
    padding-right: 20px;
}
.single-widgets.widget_thumb_post ul li .right .post-date i {
    margin-left: 5px;
    margin-right: 0;
}
.blog-page .blog-details .post-bottom-meta .post-share .list li:last-child {
    margin-right: 21px;
}
.classical-cats-wrap-content{
    text-align: right;
    padding-right: 20px;
    padding-left: 0;
}
.post-details .ul-respon li{
    margin-left: 0;
    margin-right: 24px;
}
.property_block_wrap.style-2 .property_block_wrap_header h4:after{
    float: left;
}
.sitemap .first,
.sitemap .second{
    padding-left: 0;
}
.sitemap .third{
    margin-right: 16px;
    margin-left: 0;
}
.sitemap .third a{
    margin-left: 0;
    margin-right: 35px;
}
.sitemap .second li .third li a:before {
    border-left: none;
    border-right: 2px solid #a16905;
    right: -23px;
    left: 0;
}
.sitemap .second a:before{
    right: -64px;
    left: 0;
    border-right:none ;
    border-left: 2px solid #a16905;
}
.sitemap .second li:nth-child(4) a:before {
    right: -96px;
    left: 0;
}
.sitemap .second li:nth-child(2) a:before {
    right: -96px;
    left: 0;
}
.sitemap .second li:nth-child(3) a:before {
    right: -95px;
    left: 0;
}
.sitemap .second li:nth-child(5) a:before {
    right: -105px;
    left: 0;
}
.team-slide{
    direction: rtl;
}

.navigation-portrait .nav-toggle {
    display: block;
    right: auto;
    left: 10px;
}
@media (max-width: 425px) and (min-width: 321px){
    .hero-banner {
        padding-top: 0;
        min-height: 420px;
        height: 27vh;
    }
}
@media (max-width :375px) and (min-width: 319px) {
    .vedio-banner{
        height: 27vh;
        min-height: 420px;
        padding: 0;
    }

}